@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Incident Reporting Module</h1>
    <p class="lead">The Incident Reporting Module: Website is the website that is intended to be used to record, review and report incidents that have happened.
    This includes all incidents ranging from minor falls within the school through to major incidents occurring while undertaking excusions. As this is a reporting tool, it is tended to be used to accurately store
    and retrieve data for all legal requirements.
    </p>
    <p>
        
    </p>
</div>